# This printer config file uses a modified version of example-cartesian.cfg
# This cfg is intended for a Xyz Printing Inc. DaVinci 1.0A 3dPrinter. (not a 1.0)
#[*] Enable extra low-level configuration options
#    Micro-controller Architecture (SAM3/SAM4/SAM E70 (Due and Duet))  --->
#    Processor model (SAM3x8e (Arduino Due))  --->
#    Communication interface (USB)  --->
#    USB ids  --->
#      (!PB16, !PA13,  PA0,  PB5,  PD6, PB8, !PB4, !PD5, !PD9, !PB7, !PC22, !PB24, !PC18) GPIO pins to set at micro-controller startup to not burn everything to the ground
#      ( EXT1, HTR2 , Y_EN, Z_EN, X_EN, PB8, Z_ST, X_ST, Y_ST, E_ST,  DISP,  DISP,  DISP)
# The DaVinci have NEMA17 1.8* stepper motors and A4988 drivers, 
# X and Y use 2mm belts and 20 tooth pulleys; The Z axis uses a NEMA17 HighTorque Motor with an M8 Threaded Rod.
# The Extruder is a NEMA17 direct drive hobbed gear with integrated optical filament runout and opto-mechanical motion sensor.
# The optical filament runout sensor detects end of filament before it gets to the drive gear causing a jam. 
# This can auto-pause the print and allow a new spool filament to be loaded thereby saving the print.
# The runout sensor is default enabled: but may be disabled to help with transparent/translucent filaments that are hard to detect with an optical sensor.
# The optical filament motion sensor opto-mechanicaly detects movement in the extruder/idler gear train.
# The ability to determine filament width using this detector may be of value.
# It is intended to detect filament slowing down from width issues, slipping/grinding due to incorect temps, and full on extruder jams (default enabled: but can be disabled)
# The LCD is a WINStar 1604 and is not yet operational in this config. I believe its a hd47780 init and/or font issue 
# Stock extruder [200 steps/rot]*[16 steps]/[99 steps/mm] 32.3232mm rotation_distance 
# Stock xy_steppers [200 steps/rot]*[16 steps]/[80 steps/mm] 40mm rotation_distance 
# Stock z_stepper [200 steps/rot]*[16 steps]/[2560 steps/mm] 1.25mm rotation_distance (this is an M8 Leadscrew)

# Derived from repetier, datasheets, etc -1 means there hasn't be confirmation in code
#define SYSTEM_FAN PC26
#define UI_DISPLAY_RS_PIN PC22
#define BUTTON_DOWN PC29 
#define ORIG_X_MIN_PIN PD7
#define ORIG_Y_DIR_PIN PD8
#define AMBER_LED PB27
#define ORIG_X_DIR_PIN PD4
#define ORIG_X_STEP_PIN PD5
#define HEATER_0_PIN PA13
#define LIGHT_PIN PA12
#define FIL_SENSOR1_PIN PA15
#define ORIG_FAN_PIN PD0
#define ORIG_X_ENABLE_PIN PD6
#define ORIG_Y_STEP_PIN PD9
#define UI_DISPLAY_D0_PIN PC2
#define UI_DISPLAY_D1_PIN PC3
#define UI_DISPLAY_D2_PIN PC4
#define UI_DISPLAY_D3_PIN PC5
#define UI_DISPLAY_D4_PIN PC6
#define UI_DISPLAY_D5_PIN PC7
#define UI_DISPLAY_D6_PIN PC8
#define UI_DISPLAY_D7_PIN PC9
#define SCK_PIN PA19
#define MOSI_PIN PA20
#define BUTTON_UP PC19 
#define UI_DISPLAY_RW_PIN_NOT_USED PC18
#define TEMP_0_PIN PB20 ADC13
#define TEMP_1_PIN 126(52PB21 ADC14
#define TOP_SENSOR_PIN PB19
#define BEEPER_PIN PB15
#define HEATER_1_PIN PB16
#define ORIG_Y_MIN_PIN PA1
#define ORIG_Y_ENABLE_PIN PA0
#define RIGHT_JAM_SENSOR_PIN PA17
#define BUTTON_RIGHT PC30 
#define BUTTON_LEFT PA26 
#define BUTTON_SELECT PA27 
#define BUTTON_HOME PA28 
#define SD_MISO_PIN PA21
#define SD_INSERTED PA25
#define UI_BACKLIGHT_PIN PB23
#define SD_CARD_1 PA24
#define SD_CARD_2 PA23
#define SD_CARD_3 PA22
#define ORIG_FAN2_PIN PB11 -1
#define ORIG_Z_MIN_PIN PB22 -1
#define LEFT_JAM_SENSOR PC20 -1
#define CARTRIDGE_CHIP_1 PB0 -1
#define CARTRIDGE_CHIP_2 PB1 -1
#define Z_PROBE_PIN PB2 -1
#define ORIG_Z_DIR_PIN PB3 -1
#define ORIG_Z_STEP_PIN PB4 -1
#define ORIG_Z_ENABLE_PIN PB5 -1
#define ORIG_E0_DIR_PIN PB6 -1
#define ORIG_E0_STEP_PIN PB7 -1
#define ORIG_E0_ENABLE_PIN PB8 -1
#define UI_DISPLAY_ENABLE_PIN PB24 -1
#define Z_STOP PB22 -1

# [include fluidd.cfg]

[include macros.cfg]

# from Repertier
#define ENDSTOP_X_BACK_ON_HOME 0
#define ENDSTOP_Y_BACK_ON_HOME 0
#define ENDSTOP_Z_BACK_ON_HOME 0
#define Y_MAX_LENGTH 215 - ENDSTOP_Y_BACK_ON_HOME
#define X_MAX_LENGTH 237 - ENDSTOP_X_BACK_ON_HOME
#define Z_MAX_LENGTH 200 - ENDSTOP_Z_BACK_ON_HOME
#define X_MIN_POS -33
#define Y_MIN_POS -12
#define Z_MIN_POS 0

# 1.0A Bed Layout
#                  
# -33,215                        237,215
#      +~~~~~~~~~~~~~~~~~~~~~~~~~~+
#      }  +--------------------+  {
#      {  |200,0        200,200|  }
#      }  |                    |  {
#  Y   {  |                    |  }
#      }  |                    |  {
#      {  |0,0            0,200|  }
#      }  +--------------------+  {
#      +~~~~~~~~~~~~~~~~~~~~~~~~~~+
# -33,-12           X           237,-12

[mcu]
serial: /dev/serial/by-id/usb-Klipper_sam3x8e_203120514F3251313137303133303035-if00
baud: 250000
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 1000
max_z_velocity: 5
max_z_accel: 100

[safe_z_home]
home_xy_position: 237,215
speed: 90.0
z_hop: 10
z_hop_speed: 10.0

[stepper_x]
step_pin: PD5
dir_pin: PD4
enable_pin: !PD6
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 40
endstop_pin: ^PD7
position_min: -33
position_endstop: 237
position_max: 237
homing_speed: 40
second_homing_speed: 5

[stepper_y]
step_pin: PD9
dir_pin: !PD8
enable_pin: !PA0
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 40
endstop_pin: ^PA1
position_min: -12
position_endstop: 215
position_max: 215
homing_speed: 40
second_homing_speed: 5

[stepper_z]
step_pin: PB4
dir_pin: !PB3
enable_pin: !PB5
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 1.25
endstop_pin: ^PB22
position_min: 0
position_endstop: 0
position_max: 200
homing_speed: 4
second_homing_speed: 2

[extruder]
step_pin: PB7
dir_pin: !PB6 # I have a bowden setup so this is reversed for me
enable_pin: !PB8
microsteps: 16
rotation_distance: 32.3232
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA13
sensor_type: ATC Semitec 104GT-2
pullup_resistor: 4700  # 1.0A is 1k 1.0 is 4.7k with a 10k inline
inline_resistor: 1000 # 1.0A is 0 1.0 is 10k
sensor_pin: PB20
control: pid
pid_Kp: 4.17 # these will need to be redone but should be close
pid_Ki: 0.35 # these will need to be redone but should be close
pid_Kd: 12.32 # these will need to be redone but should be close
min_temp: -10
max_temp: 285
min_extrude_temp: 170
# beta: 4267


[adc_temperature DAVINCI_BED_R]
# from print bed thermister xlsx
temperature1: 23
resistance1: 455000
temperature2: 27	
resistance2: 370000
temperature3: 30	
resistance3: 337000
temperature4: 33	
resistance4: 296800
temperature5: 38	
resistance5: 249600
temperature6: 46	
resistance6: 196600
temperature7: 53	
resistance7: 155700
temperature8: 61	
resistance8: 123800
temperature9: 67	
resistance9: 102700
temperature10: 78	
resistance10: 76900
temperature11: 85	
resistance11: 62800
temperature12: 96	
resistance12: 47000
temperature13: 116	
resistance13: 30100
temperature14: 120	
resistance14: 20100

[adc_temperature DAVINCI_BED_ADC]
# from repetier bed extruder tables xlsx
temperature19: 160	
voltage19: 0.628
temperature18: 150	
voltage18: 0.859
temperature17: 140	
voltage17: 1.113
temperature16: 130	
voltage16: 1.382
temperature15: 120	
voltage15: 1.660
temperature14: 110	
voltage14: 1.938
temperature13: 100	
voltage13: 2.211
temperature12: 90	
voltage12: 2.473
temperature11: 80	
voltage11: 2.718
temperature10: 70	
voltage10: 2.945
temperature9: 60	
voltage9: 3.148
temperature8: 50	
voltage8: 3.328
temperature7: 40	
voltage7: 3.482
temperature6: 30	
voltage6: 3.613
temperature5: 20	
voltage5: 3.722
temperature4: 10	
voltage4: 3.815
temperature3: 0	
voltage3: 3.895
temperature2: -10	
voltage2: 3.972
temperature1: -20	
voltage1: 4.055



[heater_bed]
heater_pin: PB16
sensor_type: DAVINCI_BED_R
sensor_pin: PB21
pullup_resistor: 4700 # need this if using R-table
# adc_voltage: 4.1 # Shouldn't need this
control: pid
pid_Kp: 2.75
pid_Ki: 0.18
pid_Kd: 10.58
min_temp: 3
max_temp: 150

[output_pin buzz]
pin: PB15
pwm: True
shutdown_value: 0
cycle_time: 0.001
scale: 1

[static_digital_output amber_led]
pins: !PB27

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu

[controller_fan system_fan]
pin: PC26
hardware_pwm: True
kick_start_time: 1.0
max_power: 1.0
idle_timeout: 300
idle_speed: 0.5
shutdown_speed: 1.0
heater: heater_bed,extruder

[heater_fan hotend_fan]
pin: PD0
heater: extruder
heater_temp: 50.0
kick_start_time: 0.200

[fan_generic extruder_partfan]
pin: PB11
kick_start_time: 0.200

# I don't use this.
# [filament_switch_sensor switch_sensor]
# pause_on_runout: True
# switch_pin: !PA15
# #runout_gcode:
# #insert_gcode:
# #event_delay:
# #pause_delay:

# [filament_motion_sensor motion_sensor]
# pause_on_runout: True
# detection_length: 7.0
# extruder: extruder
# switch_pin: PA17
# #runout_gcode:
# #insert_gcode:
# #event_delay:
# #pause_delay:

# [filament_switch_sensor Cartrige1]
# switch_pin: ^PB0  # Filament Cart1 pin

# [filament_switch_sensor Cartrige2]
# switch_pin: ^!PB1  # Filament Cart1 pin

[filament_switch_sensor Top_Cover]
switch_pin: PB19
pause_on_runout: False # good to have, but disabled for now

[output_pin Case_Light]
pin: PA12
value: 1

[output_pin LCD_Light]
pin: PB23
value: 1


# Probe points from repetier
#define Z_PROBE_X1 -7
#define Z_PROBE_Y1 -10
#define Z_PROBE_X2 -7
#define Z_PROBE_X3 179
#define Z_PROBE_Y2 203
#define Z_PROBE_Y3 203
[probe]
pin: !PB2
x_offset: 0 # probe has x_offset, but position moves to probe pads take this offset into account already so offset is set to 0
y_offset: 0
z_offset: 0 # probe pad is .28mm thick, probe offset from nozzle is .28mm so is 0 offset
speed: 5
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 5
# note, its maybe a good idea to recalculate probe pad positions and use a real offset so the printer knows it has one

[bed_screws]
screw1: 190, 170
screw1_fine_adjust: 208, 204
screw1_name: rear right screw 
screw2: 10, 170
screw2_fine_adjust: 208, -5
screw2_name: rear left screw
screw3: 100, 10
screw3_fine_adjust: 22, -5
screw3_name: front screw
# Use the fine adjusts for verifying probe has contact with the pads
# Youll need to open a console on a new tab and use QUERY_PROBE on each pad
# Before hitting accept, this ensures the calibrate tilt function works.
# Use multi-probe utilties to assist on fine tuning each screw
# Starting with the back right probe pad. set close to zero as possible .225 was davinci recommendation but I try to hit .100 or less...
# Then back left screw to make front right corner match the front left corner
# Then adjust front screw to set front left/right corners to match the back right corner.
# none of the probe pads are perfect, so I have set the probe to average 3 successful attempts in a row within tollerance, with upto 6 retries. 

[screws_tilt_adjust]
screw1: 208, 204 # Probe Point 1
screw1_name: back right screw
screw2: 208, -5 # probe point 2
screw2_name: back left screw
screw3: 22, -5 #probe point 3
screw3_name: front screw
horizontal_move_z: 5.0
speed: 100.0
screw_thread: CCW-M3

#[bed_mesh] 
# {is not compatible with screws_tilt_adjust, enable one or the other} 
# bed_mesh disabled since we cant do it on the DaVinci without a conductive bed surface for the probe
#speed: 120
#horizontal_move_z: 5
#mesh_min: 2, 2
#mesh_max: 198, 198
#probe_count: 5, 5


[bed_tilt]
#x_adjust: 0
#y_adjust: 0
#z_adjust: 0
# The above parameters may be set manually, or automaticlly. 
# can be run by macro per session or saved in the config above to activate at boot.
# The remaining parameters control a BED_TILT_CALIBRATE extended
# g-code command that may be used to calibrate appropriate x and y
# adjustment parameters.
points: 
    208,204
    208,-5
    22,-5
    22,204
speed: 50
horizontal_move_z: 5

[display]
# Not working at this time, buttons do work 
lcd_type: hd44780
rs_pin: PC22
e_pin: PB24
# d0_pin: PC2
# d1_pin: PC3
# d2_pin: PC4
# d3_pin: PC5
d4_pin: PC6
d5_pin: PC7
d6_pin: PC8
d7_pin: PC9
up_pin: PC19 #Up Button
down_pin: PC29 #Down Button
back_pin: PA26 #left Button
click_pin: PA27 #Ok Button
kill_pin: ^!PA28 #Home Button
# Kill Button is the largest button near LCD
hd44780_protocol_init: False
display_group: _default_16x4
line_length: 16

[display_status]

